Django==4.2.30
djangorestframework==3.16.1
django-simpleui==2026.1.13
django-cors-headers==4.9.0
djangorestframework-simplejwt==5.5.1
django-import-export==4.4.1
boto3==1.42.97
cryptography==49.0.0
requests==2.32.5
